
@{
    ViewData["Title"] = L("Title");
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="fa fa-exclamation-triangle"></span>
        <strong>@L("SubTitle")</strong>
    </p>
    <p>
        @L("Info")
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@L("Reset")</button>
    </form>
</div>